@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@foreach(var movies in Model.Movie)
{
    <ul>
        <li>@movies.Name</li>
    </ul>
}